<header class="mb-4 bg-neutral">
  <div class="navbar">
    <a href="#" class="btn btn-ghost text-xl">予算一覧</a>
  </div>
</header>

<div class="flex mx-4" style="display: flex;">
  <% @budgets.each do |budget| %>
    <div class="card card-side shadow-xl" style="margin-left: 1rem /* 16px */; margin-right: 1rem /* 16px */;">
      <figure class="text-left">
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Movie" />
      </figure>
      <div class="card-body">
        <h2 class="card-title"><%= budget.category.name %></h2>
        <th><%= budget.amount %>円</th>
        <th>支出合計: ...</th>
        <th>残金: ...</th>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Check Now</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
