<h1>予算一覧</h1>

<div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>カテゴリー</th>
          <th>予算</th>
          <th>支出合計</th>
          <th>残金</th>
        </tr>
      </thead>
      <tbody>
        <% @budgets.each do |budget| %>
          <tr class="bg-base-200">
            <th><%= budget.id%></th>
            <td><%= budget.category.name %></td>
            <td><%= budget.amount %>円</td>
            <td>支出合計</td>
            <td>残金</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>