<div class="navbar bg-base-100">
  <a class="btn btn-ghost text-xl">予算一覧</a>
</div>

<div class="card bg-primary text-primary-content w-96">
  <% @budgets.each do |budget| %>
    <div class="card-body">
      <h2 class="card-title"><%= budget.category.name %></h2>
        <div>
          <td><%= budget.amount %>円</td>
          <td>支出合計</td>
          <td>残金</td>
        </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Check Now</button>
      </div>
    </div>
  <% end %>
</div>