<header>
  <div class="navbar bg-base-100 fixed top-0 left-0 w-full z-50">
    <div class="flex items-center space-x-4">
      <!-- ロゴ -->
      <h1> 予算を守る家計簿 </h1>
      <!-- 記録して振り返り、思考を育てる（モバイル非表示） -->
      <h2 class="text-sm px-4 leading-8 text-gray-900 whitespace-nowrap hidden sm:block">~さらば、決められた予算を守れない私~</h2>
    </div>
  </div>
</header>

<button class="bg-gray-900 hover:bg-gray-800 text-white rounded px-4 py-2">黒字 </button>
<button class="btn">赤字</button>

<div>
  <% @files.each do |file| %>
    <div class="card bg-secondary w-96 shadow-xl mt-10">
      <div class="card-body">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="PiggyBank"
            width="100" height="100"
          />
        </figure>
        <h2 class="card-title"><%= file.title %></h2>
        <p><%= file.description %></p>
        <div class="card-actions justify-end">
          <%= button_to budgets_path(file), method: :get, class: "btn btn-primary" do %>
            Check Now
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>