<header class="mb-4 bg-neutral">
  <div class="navbar">
    <a href="#" class="btn btn-ghost text-xl">カテゴリー別予算一覧</a>
    <p class="block"><%= @money_file.description %></p>
  </div>
</header>

<div class="navbar">
  <%= link_to "予算を新規作成", new_budget_path(money_file_id: @money_file.id), class: "btn btn-primary" %>
  <%= link_to money_files_path(@money_file), class: "btn" do %>家計簿一覧へ戻る<% end %>
</div>

<br><br>
<%= render "budgets/index" %>